POSTGRES_DB=ecommerce_db
POSTGRES_USER=ecommerce_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432
JWT_SECRET=
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAME_SITE=Lax
AUTH_COOKIE_DOMAIN=
CORS_ALLOWED_ORIGINS=http://localhost:5173
