POSTGRES_DB=ecommerce_db
POSTGRES_USER=ecommerce_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432
JWT_SECRET=
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAME_SITE=Lax
AUTH_COOKIE_DOMAIN=
CORS_ALLOWED_ORIGINS=http://localhost:5173
APP_SEED_AUTH_ENABLED=false
APP_SEED_CATEGORY_ENABLED=false
APP_SEED_BRAND_ENABLED=false
APP_SEED_PRODUCT_ENABLED=false
APP_SEED_WAREHOUSE_ENABLED=false
APP_SEED_SUPPLIER_ENABLED=false
APP_SEED_PRODUCT_VARIANT_ENABLED=false
APP_SEED_PRODUCT_IMAGE_ENABLED=false
APP_SEED_GOODS_RECEIPT_ENABLED=false
APP_SEED_SPECIFICATION_ENABLED=false
